@model RegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/template/assets/images/favicon.png" />
</head>
<body>

        <!-- ***** NavBar ***** -->
    <partial name="_LayoutNavBar" />
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="row w-100 m-0">
                    <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                        <div class="card col-lg-4 mx-auto">
                            <div class="card-body px-5 py-5">
                                <div>
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                </div>
                                <h3 class="card-title text-left mb-3">Register</h3>
                                <form method="post" asp-action="Register">
                                    <div class="form-group">
                                        <label asp-for="UserName"></label>
                                        <input asp-for="UserName" class="form-control p_input" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EMail"></label>
                                        <input asp-for="EMail" class="form-control p_input" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input type="password" asp-for="Password" class="form-control p_input" />
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input"> Remember me
                                            </label>
                                        </div>
                                        <a href="#" class="forgot-pass">Forgot password</a>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-facebook col mr-2">
                                            <i class="mdi mdi-facebook"></i> Facebook
                                        </button>
                                        <button class="btn btn-google col">
                                            <i class="mdi mdi-google-plus"></i> Google plus
                                        </button>
                                    </div>
                                    <p class="sign-up text-center">Already have an Account?<a href="#"> Sign Up</a></p>
                                    <p class="terms">By creating an account you are accepting our<a href="#"> Terms & Conditions</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                </div>
                <!-- row ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/template/assets/js/off-canvas.js"></script>
    <script src="~/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/template/assets/js/misc.js"></script>
    <script src="~/template/assets/js/settings.js"></script>
    <script src="~/template/assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>





<!-- Bootstrap core CSS -->
<link href="~/template_cyborg/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/template_cyborg/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/template_cyborg/assets/css/templatemo-cyborg-gaming.css">
<link rel="stylesheet" href="~/template_cyborg/assets/css/owl.css">
<link rel="stylesheet" href="~/template_cyborg/assets/css/animate.css">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<script src="~/template_cyborg/vendor/jquery/jquery.min.js"></script>
<script src="~/template_cyborg/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="~/template_cyborg/assets/js/isotope.min.js"></script>
<script src="~/template_cyborg/assets/js/owl-carousel.js"></script>
<script src="~/template_cyborg/assets/js/tabs.js"></script>
<script src="~/template_cyborg/assets/js/popup.js"></script>
<script src="~/template_cyborg/assets/js/custom.js"></script>






















