
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Cyborg - Awesome HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/template_cyborg/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="~/template_cyborg/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/template_cyborg/assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/template_cyborg/assets/css/owl.css">
    <link rel="stylesheet" href="~/template_cyborg/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!--

    TemplateMo 579 Cyborg Gaming

    https://templatemo.com/tm-579-cyborg-gaming

    -->
</head>

<body>
    @Html.AntiForgeryToken()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** NavBar ***** -->
    <partial name="_LayoutNavBar" />

    <!-- ***** Header Area End ***** -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="_LayoutFooter" />
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->


    <script src="~/template_cyborg/vendor/jquery/jquery.min.js"></script>
    <script src="~/template_cyborg/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/template_cyborg/assets/js/isotope.min.js"></script>
    <script src="~/template_cyborg/assets/js/owl-carousel.js"></script>
    <script src="~/template_cyborg/assets/js/tabs.js"></script>
    <script src="~/template_cyborg/assets/js/popup.js"></script>
    <script src="~/template_cyborg/assets/js/custom.js"></script>


</body>

</html>
































@*


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MangaTor Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/template/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/template/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/template/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/template/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css Layout = "~/Views/Shared/_Layout.cshtml"; -->
    <!-- endinject Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";-->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/template/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <partial name="_Navbar" />


            <div class="main-panel">
                <div class="row ">
                    <div class="col-12 grid-margin">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/template/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/template/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/template/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/template/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/template/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/template/assets/js/off-canvas.js"></script>
    <script src="~/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/template/assets/js/misc.js"></script>
    <script src="~/template/assets/js/settings.js"></script>
    <script src="~/template/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/template/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>

*@







